/* You can add global styles to this file, and also import other style files */

@use "sedna" as sedna;

@include sedna.core();

@import '@angular/cdk/overlay-prebuilt.css';

// Components
@include sedna.SnMenu();
@include sedna.SnBtn();
@include sedna.SnAlert();
@include sedna.SnAvatar();
@include sedna.SnCard();
@include sedna.SnForm();
@include sedna.SnControl();
@include sedna.SnGrid();
@include sedna.SnList();
@include sedna.SnLoading();
@include sedna.SnMessage();
@include sedna.SnMargin();
@include sedna.SnModal();
@include sedna.SnPadding();
@include sedna.SnPagination();
@include sedna.SnTable();
@include sedna.SnVideo();
@include sedna.SnSwitch();
@include sedna.SnFreeze();
@include sedna.SnTab();
@include sedna.SnTag();
@include sedna.SnHidden();
@include sedna.SnTooltip();
@include sedna.SnCollapse();
@include sedna.SnDivider();
@include sedna.SnEmpty();
@include sedna.SnControlGroup();
@include sedna.SnDropdown();


// PASAR ESTO A SEDNA ORIGINAL
.SnList {
  @extend %SnList;

  &-item {
    line-height: 1.7rem;
  }

  &.shadow {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }

  &.menu {
    background: var(--panel-background-alt);
    padding: 4px 0;
    text-align: left;
    background-clip: padding-box;
    border-radius: 4px;
    outline: none;
    min-width: 200px;
    border: 1px solid var(--border-color);

    .SnList-item {
      margin: 0;
      padding: 5px 12px;
      font-weight: normal;
      line-height: 22px;
      display: block;
      white-space: nowrap;
      cursor: pointer;

      background: transparent;
      border: 0;
      outline: 0;
      width: 100%;

      text-align: left;

      color: var(--text-color);

      &:hover {
        background: var(--hover-background);
      }

      &.disabled {
        opacity: 0.6;
        touch-action: none;
        pointer-events: none;
      }
    }

    &-item,
    &-item a {
      text-decoration: none;
      color: var(--text-color);
    }
  }
}
