.SnDataTableCaption-right {
  .SnBtn {
    border: 0;
    box-shadow: none;
    outline: 0;

    &:hover,
    &:active,
    &:focus {
      border: 0;
      box-shadow: none;
      outline: 0;
    }
  }
}
