<div class="SnDataTableCaption">
  <div class="SnDataTableCaption-left" (click)="onSortToggle()">
    <ng-content></ng-content>
    @if(sortOrder === 'asc'){
      <fa-icon [icon]="faSortUp" class="SnMl-1"></fa-icon>
    }
    @if(sortOrder === 'desc'){
      <fa-icon [icon]="faSortDown" class="SnMl-1"></fa-icon>
    }
    @if (filterEvaluation?.field === snColumnField) {
      <fa-icon [icon]="faFilter" class="SnMl-1" style="font-size: .7rem;"></fa-icon>
    }
  </div>
  <div class="SnDataTableCaption-right">
    @if (snFilterable && snSortable) {
      <button type="button" class="SnBtn sm icon" [cdkMenuTriggerFor]="tHeaderMenu"><fa-icon [icon]="faAngleDown"></fa-icon></button>
    }
  </div>
</div>
@if (snFilterable) {
  <input type="text" class="SnForm-control sm" [value]="filterEvaluation?.value1" (keydown)="onKeyDownInputSearch($event)">
}
  <!-- <sn-table-filter
    *ngIf="snShowFilter || snCustomFilter; else notFilterTemplate"
    [contentTemplate]="notFilterTemplate"
    [extraTemplate]="extraTemplate"
    [customFilter]="snCustomFilter"
    [filterMultiple]="snFilterMultiple"
    [listOfFilter]="snFilters"
    (filterChange)="onFilterValueChange($event)"
  ></sn-table-filter>
  <ng-template #notFilterTemplate>
    <ng-template [ngTemplateOutlet]="snShowSort ? sortTemplate : contentTemplate"></ng-template>
  </ng-template>
  <ng-template #extraTemplate>
    <ng-content select="[sn-th-extra]"></ng-content>
    <ng-content select="sn-filter-trigger"></ng-content>
  </ng-template>
  <ng-template #sortTemplate>
    <sn-table-sorters
      [sortOrder]="sortOrder"
      [sortDirections]="sortDirections"
      [contentTemplate]="contentTemplate"
    ></sn-table-sorters>
  </ng-template> -->

  <ng-template #tHeaderMenu>
    <ul class="SnList menu" cdkMenu>
      @if (snSortable) {
        <button class="SnList-item" cdkMenuItem (click)="onSort('asc')">
          <fa-icon [icon]="faArrowUpWideShort" class="SnMr-2"></fa-icon>Ordenar Ascendente
        </button>
        <button class="SnList-item" cdkMenuItem (click)="onSort('desc')">
          <fa-icon [icon]="faArrowDownWideShort" class="SnMr-2"></fa-icon>Ordenar Descendente
        </button>
      }
      @if (snFilterable) {
        <button class="SnList-item" cdkMenuItem [disabled]="filterEvaluation?.field !== snColumnField"
          (click)="onRemoveFilter()">
          <fa-icon [icon]="faFilterCircleXmark" class="SnMr-2"></fa-icon>Borrar filtro
        </button>
      }
    </ul>
  </ng-template>
  <!-- <ng-template #contentTemplate>
    <ng-content></ng-content>
  </ng-template> -->
