@forward 'multiple.scss';
@forward 'single.scss';
@forward 'status.scss';
@forward 'patch.scss';
@forward 'rtl.scss';

.ant-select {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  cursor: pointer;

  &.ant-select-show-search {
    &:not(.ant-select-customize-input) {
      .ant-select-selector {
        cursor: text;

        input {
          cursor: auto;
        }
      }
    }
  }

  &.ant-select-focused {
    &:not(.ant-select-disabled) {
      &:not(.ant-select-customize-input) {
        .ant-select-selector {
          border-color: #40a9ff;
          box-shadow: 0 0 0 2px #1890ff33;
          border-right-width: 1px;
          outline: 0;
        }
      }
    }
  }

  &.ant-select-disabled {
    &:not(.ant-select-customize-input) {
      .ant-select-selector {
        color: #00000040;
        background: #f5f5f5;
        cursor: not-allowed;

        input {
          cursor: not-allowed;
        }
      }

      &.ant-select-multiple .ant-select-selector {
        background: #f5f5f5;
      }
    }
  }

  &:not(.ant-select-customize-input) {
    .ant-select-selector {
      position: relative;
      background-color: #fff;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

      input {
        cursor: pointer;
      }

      .ant-select-selection-search-input {
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        appearance: none;

        &::-webkit-search-cancel-button {
          display: none;
          -webkit-appearance: none;
        }
      }
    }

    &:hover {
      .ant-select-selector {
        border-color: #40a9ff;
        border-right-width: 1px;
      }
    }
  }
}

.ant-select-selection-item,
.ant-select-selection-placeholder {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media all and (-ms-high-contrast: none) {
    *::-ms-backdrop,
    & {
      flex: auto;
    }
  }
}

.ant-select-selection-placeholder {
  color: #bfbfbf;
  pointer-events: none;
}

.ant-select-arrow {
  display: inline-flex;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  right: 11px;
  display: flex;
  align-items: center;
  height: 12px;
  margin-top: -6px;
  color: #00000040;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  pointer-events: none;

  & > * {
    line-height: 1;
  }

  svg {
    display: inline-block;
  }

  &:before {
    display: none;
  }

  .ant-select-arrow-icon {
    display: block;
  }

  .anticon {
    vertical-align: top;
    transition: transform 0.3s;

    & > svg {
      vertical-align: top;
    }

    &:not(.ant-select-suffix) {
      pointer-events: auto;
    }
  }

  &.ant-select-disabled {
    cursor: not-allowed;
  }

  & > *:not(:last-child) {
    margin-inline-end: 8px;
  }
}

.ant-select-clear {
  position: absolute;
  top: 50%;
  right: 11px;
  z-index: 1;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  color: #00000040;
  font-size: 12px;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  background: #fff;
  cursor: pointer;
  opacity: 0;
  transition: color 0.3s ease, opacity 0.15s ease;
  text-rendering: auto;

  &:before {
    display: block;
  }

  &:hover {
    color: #00000073;
  }

  .ant-select:hover & {
    opacity: 1;
  }
}

.ant-select-dropdown {
  margin: 0;
  color: #000000d9;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 1050;
  box-sizing: border-box;
  padding: 4px 0;
  overflow: hidden;
  font-size: 14px;
  font-variant: initial;
  background-color: #fff;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;

  &.ant-slide-up-enter.ant-slide-up-enter-active,
  &.ant-slide-up-appear.ant-slide-up-appear-active {
    &.ant-select-dropdown-placement-bottomLeft {
      animation-name: antSlideUpIn;
    }

    &.ant-select-dropdown-placement-topLeft {
      animation-name: antSlideDownIn;
    }
  }

  &.ant-slide-up-leave.ant-slide-up-leave-active {
    &.ant-select-dropdown-placement-bottomLeft {
      animation-name: antSlideUpOut;
    }

    &.ant-select-dropdown-placement-topLeft {
      animation-name: antSlideDownOut;
    }
  }

  &.ant-select-dropdown-hidden {
    display: none;
  }

  &.ant-select-dropdown-empty {
    color: #00000040;
  }
}

.ant-select-item {
  position: relative;
  display: block;
  min-height: 32px;
  padding: 5px 12px;
  color: #000000d9;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  transition: background 0.3s ease;

  &-empty {
    color: #00000040;
  }

  &-group {
    color: #00000073;
    font-size: 12px;
    cursor: default;
  }

  &-option {
    display: flex;

    &-content {
      flex: auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-state {
      flex: none;
    }

    &-active:not(.ant-select-item-option-disabled) {
      background-color: #f5f5f5;
    }

    &-selected:not(.ant-select-item-option-disabled) {
      color: #000000d9;
      font-weight: 600;
      background-color: #e6f7ff;

      .ant-select-item-option-state {
        color: #1890ff;
      }
    }

    &-disabled {
      color: #00000040;
      cursor: not-allowed;

      &.ant-select-item-option-selected {
        background-color: #f5f5f5;
      }
    }

    &-grouped {
      padding-left: 24px;
    }
  }
}

.ant-select-lg {
  font-size: 16px;
}

.ant-select-borderless {
  .ant-select-selector {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
  }
}

.ant-select.ant-select-in-form-item {
  width: 100%;
}

.ant-select-compact-item {
  &:not(.ant-select-compact-last-item) {
    margin-right: -1px;

    &.ant-select-compact-item-rtl {
      margin-right: 0;
      margin-left: -1px;
    }
  }

  &:hover > *,
  &:focus > *,
  &:active > * {
    z-index: 2;
  }

  &.ant-select-focused > * {
    z-index: 2;
  }

  &[disabled] > * {
    z-index: 0;
  }

  &:not(.ant-select-compact-first-item):not(.ant-select-compact-last-item) {
    .ant-select > .ant-select-selector {
      border-radius: 0;
    }
  }

  &.ant-select-compact-first-item.ant-select {
    &:not(.ant-select-compact-last-item) {
      &:not(.ant-select-compact-item-rtl) > .ant-select-selector {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.ant-select-compact-item-rtl {
        &:not(.ant-select-compact-last-item) > .ant-select-selector {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }

  &.ant-select-compact-last-item.ant-select {
    &:not(.ant-select-compact-first-item) {
      &:not(.ant-select-compact-item-rtl) > .ant-select-selector {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &.ant-select-compact-item-rtl {
        &:not(.ant-select-compact-first-item) > .ant-select-selector {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }
}
