<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="note">Note</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Please input your username!">
      <input id="note" type="text" nz-input formControlName="note" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="gender" nzRequired>Gender</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Please select your gender!"> -->
      <sn-select
        id="gender"
        snId="gender"
        formControlName="gender"
        snPlaceHolder="Select a option and change input text above"
        (ngModelChange)="genderChange($event)"
      >
        <sn-option snValue="male" snLabel="male"></sn-option>
        <sn-option snValue="female" snLabel="female"></sn-option>
      </sn-select>
    <!-- </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="12" [nzOffset]="5">
      <button nz-button nzType="primary">Submit</button>
    </nz-form-control>
  </nz-form-item> -->
</form>

<!-- horizontal -->
<!-- <sn-filter [snFilter]="filter" [snFilterColumns]="columns"></sn-filter>
<div class="SnDivider"></div>
<div style="padding: 1rem;">
  <sn-data-table (snQueryParams)="onQueryParamsChange($event)" [snPageIndex]="pageIndex" [snPageSize]="pageSize" [snTotal]="total" [snColumns]="dataColumns">
    <thead>
      <tr>
        @for (item of dataColumns; track $index) {
          <th [snFilterable]="item.filterable" [snColumnField]="item.field" [snSortable]="item.sortable">{{ item.title }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of tableData; track $index) {
        <tr>
          @for (item of dataColumns; track $index) {
            @if (item.field === 'logo') {
              <td>
                <div class="SnAvatar" style="width: 28px; height: 28px;">
                  <img class="SnAvatar-img" src="https://static.facturacionelectronicaperu.com/companies/cp_53/logo_square.jpg" alt="avatar">
                </div>
              </td>
            } @else {
              <td>{{ row[item.field] }}</td>
            }
          }
        </tr>
      }
    </tbody>
  </sn-data-table>
</div> -->


<!-- <button sn-button [snLoading]="true" snType="warning">dddddd</button>
<input type="text" sn-input>

<sn-form-control>
    <input type="text" sn-input>
</sn-form-control>

<div>
    <sn-form-item>
        <label for="userName" sn-label>UserName</label>
        <input type="text" sn-input id="userName">
    </sn-form-item>
    <sn-form-item>
        <label for="password" sn-label>Password</label>
        <input type="password" sn-input id="password">
    </sn-form-item>
    <button sn-button type="button" [snBlock]="true" snType="primary">Login</button>
</div>

<div class="SnForm horizontal">
    <sn-form-item>
        <label for="fullName" sn-label>fullName</label>
        <input type="text" sn-input id="fullName">
    </sn-form-item>
    <sn-form-item>
        <label for="adress" sn-label>Adress</label>
        <input type="text" sn-input id="adress">
    </sn-form-item>
</div>



<div class="SnForm horizontal">
    <sn-form-item>
        <label for="fullName2" sn-label>fullName</label>
        <input type="text" sn-input id="fullName2">
    </sn-form-item>
    <sn-form-item>
        <label for="adresss" sn-label>Adress</label>
        <input type="text" sn-input id="adresss">
    </sn-form-item>
</div> -->
