<button sn-button [snLoading]="true" snType="warning">dddddd</button>
<input type="text" sn-input>

<sn-form-control>
    <input type="text" sn-input>
</sn-form-control>

<div>
    <sn-form-item>
        <label for="userName" sn-label>UserName</label>
        <input type="text" sn-input id="userName">
    </sn-form-item>
    <sn-form-item>
        <label for="password" sn-label>Password</label>
        <input type="password" sn-input id="password">
    </sn-form-item>
    <button sn-button type="button" [snBlock]="true" snType="primary">Login</button>
</div>

<div class="SnForm horizontal">
    <sn-form-item>
        <label for="fullName" sn-label>fullName</label>
        <input type="text" sn-input id="fullName">
    </sn-form-item>
    <sn-form-item>
        <label for="adress" sn-label>Adress</label>
        <input type="text" sn-input id="adress">
    </sn-form-item>
</div>
    


<div class="SnForm horizontal">
    <sn-form-item>
        <label for="fullName2" sn-label>fullName</label>
        <input type="text" sn-input id="fullName2">
    </sn-form-item>
    <sn-form-item>
        <label for="adresss" sn-label>Adress</label>
        <input type="text" sn-input id="adresss">
    </sn-form-item>
</div>

<!-- </form> -->