<nz-empty></nz-empty>



<nz-select nzAllowClear nzPlaceHolder="Choose" nzShowSearch>
  <nz-option-group nzLabel="Manager">
    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
  </nz-option-group>
  <nz-option-group nzLabel="Engineer">
    <nz-option nzValue="tom" nzLabel="Tom"></nz-option>
  </nz-option-group>
</nz-select>


<nz-select nzAllowClear nzPlaceHolder="Choose" nzShowSearch>
  <nz-option-group nzLabel="Manager">
    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
  </nz-option-group>
  <nz-option-group nzLabel="Engineer">
    <nz-option nzValue="tom" nzLabel="Tom"></nz-option>
  </nz-option-group>
</nz-select>


<nz-select
  [nzMaxMultipleCount]="3"
  nzMode="multiple"
  nzPlaceHolder="Please select"
  nzAllowClear
  [nzShowArrow]="true"
>
  <nz-option *ngFor="let item of listOfOption" [nzLabel]="item" [nzValue]="item"></nz-option>
</nz-select>

<!-- <nz-select>
  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
  <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
</nz-select>
<nz-select nzDisabled>
  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
</nz-select>
<nz-select nzLoading>
  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
</nz-select>
<nz-select nzAllowClear nzPlaceHolder="Choose">
  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
</nz-select> -->

<!--
<sn-select>
  <sn-option snValue="lucy" snLabel="Lucy"></sn-option>
</sn-select> -->


<!-- <sn-select
  [snMaxMultipleCount]="3"
  snMode="multiple"
  snPlaceHolder="Please select"
  snAllowClear
  [snShowArrow]="true"

  [(ngModel)]="listOfSelectedValue"
>
  <sn-option *ngFor="let item of listOfOption" [snLabel]="item" [snValue]="item"></sn-option>
</sn-select> -->

<!-- <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="padding: 3rem;"> -->
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="note">Note</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Please input your username!">
      <input id="note" type="text" nz-input formControlName="note" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="gender" nzRequired>Gender</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Please select your gender!"> -->

      <!-- <sn-select
        id="gender"
        snId="gender"
        formControlName="gender"
        snPlaceHolder="Select a option and change input text above"
        (ngModelChange)="genderChange($event)"
      >
        <sn-option snValue="male" snLabel="male"></sn-option>
        <sn-option snValue="female" snLabel="female"></sn-option>
      </sn-select> -->

      <!-- <sn-select formControlName="gender">
        <sn-option snValue="jack" snLabel="Jack"></sn-option>
        <sn-option snValue="lucy" snLabel="Lucy"></sn-option>
        <sn-option snValue="disabled" snLabel="Disabled" snDisabled></sn-option>
      </sn-select> -->


      <!-- <sn-select *snSpaceItem snStatus="error" style="width: 100%"></sn-select>
      <sn-select *snSpaceItem snStatus="warning" style="width: 100%"></sn-select> -->

    <!-- </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="12" [nzOffset]="5">
      <button nz-button nzType="primary">Submit</button>
    </nz-form-control>
  </nz-form-item> -->
<!-- </form> -->

<!-- horizontal -->
<!-- <sn-filter [snFilter]="filter" [snFilterColumns]="columns"></sn-filter>
<div class="SnDivider"></div>
<div style="padding: 1rem;">
  <sn-data-table (snQueryParams)="onQueryParamsChange($event)" [snPageIndex]="pageIndex" [snPageSize]="pageSize" [antotal]="total" [snColumns]="dataColumns">
    <thead>
      <tr>
        @for (item of dataColumns; track $index) {
          <th [snFilterable]="item.filterable" [snColumnField]="item.field" [snSortable]="item.sortable">{{ item.title }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of tableData; track $index) {
        <tr>
          @for (item of dataColumns; track $index) {
            @if (item.field === 'logo') {
              <td>
                <div class="SnAvatar" style="width: 28px; height: 28px;">
                  <img class="SnAvatar-img" src="https://static.facturacionelectronicaperu.com/companies/cp_53/logo_square.jpg" alt="avatar">
                </div>
              </td>
            } @else {
              <td>{{ row[item.field] }}</td>
            }
          }
        </tr>
      }
    </tbody>
  </sn-data-table>
</div> -->


<!-- <button sn-button [snLoading]="true" antype="warning">dddddd</button>
<input type="text" sn-input>

<sn-form-control>
    <input type="text" sn-input>
</sn-form-control>

<div>
    <sn-form-item>
        <label for="userName" sn-label>UserName</label>
        <input type="text" sn-input id="userName">
    </sn-form-item>
    <sn-form-item>
        <label for="password" sn-label>Password</label>
        <input type="password" sn-input id="password">
    </sn-form-item>
    <button sn-button type="button" [snBlock]="true" antype="primary">Login</button>
</div>

<div class="SnForm horizontal">
    <sn-form-item>
        <label for="fullName" sn-label>fullName</label>
        <input type="text" sn-input id="fullName">
    </sn-form-item>
    <sn-form-item>
        <label for="adress" sn-label>Adress</label>
        <input type="text" sn-input id="adress">
    </sn-form-item>
</div>



<div class="SnForm horizontal">
    <sn-form-item>
        <label for="fullName2" sn-label>fullName</label>
        <input type="text" sn-input id="fullName2">
    </sn-form-item>
    <sn-form-item>
        <label for="adresss" sn-label>Adress</label>
        <input type="text" sn-input id="adresss">
    </sn-form-item>
</div> -->
