@if (snFilter.length > 0) {
@for (item of snFilter; track trackByFn(i, item); let i = $index) {
<div>
  @if (snFilter.length > 1 && item.logicalOperator === 'OR' && item.prefix === 'DONDE') {
  <div class="filter-divider">
    {{ i === 0 ? 'Ya sea' : 'O' }}
  </div>
  }
  @if (snFilter.length > 1 && item.logicalOperator === 'OR' && item.prefix === 'DONDE NO') {
  <div class="filter-divider">
    Ni tampoco
  </div>
  }
  @for (eva of item.eval; track trackByFnEval(y, eva); let y = $index) {
  <div class="filter-row">
    <button sn-button [snIcon]="true" snShape="radio" class="filter-row-close" aria-label="Eliminar filtro"
      (click)="onRemoveFilter(eva.id, item.id)">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <div class="SnGrid m-grid-2 l-grid-3 lg-grid-9 xl-grid-5 col-gap filter-row-content">
      <sn-form-item snType="floating">
        <label sn-label>Negacion</label>
        <select sn-input snSize="small">
          @for (pre of prefixData; track pre) {
          <option [value]="pre.id" [selected]="eva.prefix === pre.id">
            {{pre.description}}
          </option>
          }
        </select>
      </sn-form-item>
      <sn-form-item snType="floating" class="lg-col-2">
        <label sn-label>Columna</label>
        <select sn-input snSize="small" (change)="onSelectColumn($event, eva.id, item.id)">
          @for (col of snFilterColumns; track col) {
          <option [value]="col.field" [selected]="eva.field === col.field">
            {{col.title}}
          </option>
          }
        </select>
      </sn-form-item>
      @if (isNumberOperator(eva.type)) {
      <sn-form-item snType="floating" class="lg-col-2">
        <label sn-label>Operador</label>
        <select sn-input snSize="small" (change)="onSelectOperator($event, eva.id, item.id)">
          @for (numberOperator of numericOperatorArray; track numberOperator) {
          <option [value]="numberOperator.id" [selected]="eva.operator === numberOperator.id">
            {{numberOperator.description}}
          </option>
          }
        </select>
      </sn-form-item>
      } @else {
      <sn-form-item snType="floating" class="lg-col-2">
        <label sn-label>Operador</label>
        <select sn-input snSize="small" (change)="onSelectOperator($event, eva.id, item.id)">
          @for (stringOperator of stringOperatorArray; track stringOperator) {
          <option [value]="stringOperator.id" [selected]="eva.operator === stringOperator.id">
            {{ stringOperator.description }}
          </option>
          }
        </select>
      </sn-form-item>
      }
      @if (eva.type === 'date') {
      @if (eva.operator === 'se encuentra entre (incluye)') {
      <sn-form-item snType="floating" class="lg-col-2">
        <label sn-label>Valor 1 - Valor 2</label>
        <sn-form-control>
          <input type="date" [value]="eva.value1" sn-input snSize="small" (change)="onChangeValue1($event, eva.id, item.id)">
          <input type="date" [value]="eva.value2" sn-input snSize="small" (change)="onChangeValue2($event, eva.id, item.id)">
          <!-- <mat-date-range-input class="SnForm-control sm" [rangePicker]="rPicker">
            <input matStartDate (dateInput)="onChangeValue1($event, eva.id, item.id)"
              (dateChange)="onChangeValue1($event, eva.id, item.id)" placeholder="Start date" [value]="eva.value1">
            <input matEndDate (dateInput)="onChangeValue2($event, eva.id, item.id)"
              (dateChange)="onChangeValue2($event, eva.id, item.id)" placeholder="End date" [value]="eva.value2">
          </mat-date-range-input>
          <div class="SnControl-suffix">
            <mat-datepicker-toggle matIconSuffix [for]="rPicker"></mat-datepicker-toggle>
          </div>
          <mat-date-range-picker #rPicker></mat-date-range-picker> -->
        </sn-form-control>
      </sn-form-item>
      } @else {
      <sn-form-item snType="floating" class="lg-col-2">
        <label sn-label>Valor 1</label>
        <input type="date" [value]="eva.value1" sn-input snSize="small" (change)="onChangeValue1($event, eva.id, item.id)">
        <!-- <sn-form-control>
          <input sn-input snSize="small" (dateInput)="onChangeValue1($event, eva.id, item.id)"
            (dateChange)="onChangeValue1($event, eva.id, item.id)" [matDatepicker]="sPicker" [value]="eva.value1">
          <div class="SnControl-suffix"><mat-datepicker-toggle matIconSuffix [for]="sPicker"></mat-datepicker-toggle>
          </div>
          <mat-datepicker #sPicker></mat-datepicker>
        </sn-form-control> -->
      </sn-form-item>
      }
      } @else {
      <sn-form-item snType="floating" class="lg-col-2">
        <label sn-label>Valor 1</label>
        <input sn-input snSize="small" [type]="eva.type" placeholder="Ingresa un valor" [value]="eva.value1"
          (input)="onChangeValue1($event, eva.id, item.id)">
      </sn-form-item>
      @if (eva.operator === 'se encuentra entre (incluye)') {
      <sn-form-item snType="floating" class="lg-col-2">
        <label sn-label>Valor 2</label>
        <input sn-input snSize="small" [type]="eva.type" placeholder="Ingresa un valor" [value]="eva.value2"
          (input)="onChangeValue2($event, eva.id, item.id)">
      </sn-form-item>
      }
      }
    </div>
  </div>
  }
  <button sn-button snShape="radio" [cdkMenuTriggerFor]="addFilter" style="margin-left: 2.5rem;"><i
      class="fa-solid fa-plus SnMr-2"></i>Añadir filtro</button>
  <ng-template #addFilter>
    <div class="SnList menu" cdkMenu>
      <button class="SnList-item" type="button" cdkMenuItem (click)="onAddFilter('SI', item.id)">Si</button>
      <button class="SnList-item" type="button" cdkMenuItem (click)="onAddFilter('SI_NO', item.id)">Si no</button>
      <button class="SnList-item" type="button" cdkMenuItem (click)="onAddFilter('O', item.id)">O</button>
      <button class="SnList-item" type="button" cdkMenuItem (click)="onAddFilter('O_NO', item.id)">O no</button>
    </div>
  </ng-template>
</div>
}
} @else {
<button sn-button snShape="radio" [cdkMenuTriggerFor]="addMainFilter"><i class="fa-solid fa-plus SnMr-2"></i>Añadir
  filtro</button>
<ng-template #addMainFilter>
  <div class="SnList menu" cdkMenu>
    <button class="SnList-item" type="button" cdkMenuItem (click)="onAddFilter('SI', 0)">Si</button>
    <button class="SnList-item" type="button" cdkMenuItem (click)="onAddFilter('SI_NO', 0)">Si no</button>
    <button class="SnList-item" type="button" cdkMenuItem (click)="onAddFilter('O', 0)">O</button>
    <button class="SnList-item" type="button" cdkMenuItem (click)="onAddFilter('O_NO', 0)">O no</button>
  </div>
</ng-template>
}
